<div class="naslov">
<h1>NAUCNA CENTRALA</h1> 
</div>

<div class="login" style="width: 14%; margin: 0px auto;">
    
  <form (submit)="login()" [formGroup]="loginForm">
      
    <div class="form-group">
      <mat-form-field>
        <input matInput 
          placeholder="Email adresa" 
          class="form-control" 
          formControlName="email" 
          type="email"
        >
      </mat-form-field> 
    </div>
      
    <br>
    
    <div class="form-group">
      <mat-form-field>
        <input matInput 
          placeholder="Lozinka" 
          class="form-control" 
          formControlName="lozinka" 
          type="password"
        >
      </mat-form-field>
    </div>
      
      <br>

      <div style="align-items: center; align-self: center">
          <button mat-raised-button color="primary" type="submit" [disabled] = "!loginForm.valid">Prijavi se</button>
      </div>

    </form>

  <br>
  <a routerLink="/registration" class="btn btn-link">Registruj se!</a>
</div>
